# ── Credenciais — NUNCA commitar ─────────────────────────────────────────────
.env
.env.local
application-secrets.properties

# ── Build Quarkus ─────────────────────────────────────────────────────────────
target/
build/
.quarkus/

# ── IDEs ──────────────────────────────────────────────────────────────────────
.idea/
*.iml
.vscode/
*.class

# ── SO ────────────────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db
